async-timeout==3.0.1
bash==0.6
bs4==0.0.1
configparser==5.0.2
EasyProcess==0.3
emoji==1.4.2
gitdb==4.0.5
GitPython==3.1.11
heroku==0.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.3
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
parso==0.6.2
path==15.1.2
patsy==0.5.1
Pygments==2.6.1
PyMsgBox==1.0.9
pyperclip==1.8.2
pyrsistent==0.16.0
PyScreeze==0.1.27
pyshark==0.4.2.11
PySocks==1.7.1
pyswip==0.2.9
pytest==5.4.3
python-dateutil==2.8.2
python-dotenv==0.15.0
python-telegram-bot==12.6.1
PyTweening==1.0.3
pywinpty==0.5.7
selenium==3.141.0
shell==1.0.1
telepot==12.7
termcolor==1.1.0
terminado==0.8.3
threadpoolctl==2.0.0
toml==0.10.1
tornado==6.0.4
urllib3==1.25.10
webdriverdownloader==1.1.0.3
